<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Préférences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 style="text-align:center;">Bienvenue nouveau membre</h1>

  <h5 style="text-align:center;">Choisis tes centres d'intérêt parmis la liste !</h5>

  <div class="container left">
    <ion-list>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox> Musique
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox> Nature
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox> Travaux
      </ion-item>
      <ion-item>  
        <ion-checkbox slot="start"></ion-checkbox> Energie
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox> Voiture
      </ion-item>
      <ion-item> 
        <ion-checkbox slot="start"></ion-checkbox> Moto
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Astronomie
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Cosmologie
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Cinéma
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Littérature
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Peinture
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Informatique
      </ion-item>
      </ion-list>
    </div>
    <div class="container">
    <ion-list>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Jeux-vidéo
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Série
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Ecologie
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Instrument
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Astuce
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Sport
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Courses
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Enfants
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Arts
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Culture
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Sciences
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>Bourse
      </ion-item>
    </ion-list>
  </div>
  <div style="text-align:center;">
    <ion-button color="primary" routerLink="../home">Valider</ion-button>

    <h5 style="text-align:center;">Tu peux aussi passer cette étape et y revenir plus tard !</h5>
    <ion-button color="danger" routerLink="../home">Passer</ion-button>
  </div>

</ion-content>
