<ion-header>
  <ion-toolbar>
    <ion-title>parametres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <a routerLink="../connexion">Se déconnecter</a>
  <h5 style="text-align:center;">Modifie tes centres d'intérêt parmis la liste !</h5>

  <div class="container left">
    <ion-list>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp; Musique
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp; Nature
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp; Travaux
      </ion-item>
      <ion-item>  
        <ion-checkbox></ion-checkbox>&nbsp; Energie
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp; Voiture
      </ion-item>
      <ion-item> 
        <ion-checkbox></ion-checkbox>&nbsp; Moto
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp; Astronomie
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Cosmologie
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Cinéma
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Littérature
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Peinture
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Informatique
      </ion-item>
      </ion-list>
    </div>
    <div class="container">
    <ion-list>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp; Jeux-vidéo
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Série
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Ecologie
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Instrument
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Astuce
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Sport
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Courses
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Enfants
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Arts
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Culture
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Sciences
      </ion-item>
      <ion-item>
        <ion-checkbox></ion-checkbox>&nbsp;Bourse
      </ion-item>
    </ion-list>
  </div>
  <div style="text-align:center;">
    <ion-button color="primary" routerLink="../home">Valider</ion-button>
  </div>
</ion-content>
