<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center;">
      meeThem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="text-align:center;">Connexion</h1>
  <div id="container">
    
    <form [formGroup]="form" (ngSubmit)="findUserById()">
      <ion-item>
        <ion-label>E-mail : </ion-label>
        <ion-textarea formControlName="email"></ion-textarea>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Votre e-mail est requis.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
        Veuillez entrer un e-mail valide.
      </span>
      <ion-item>
        <ion-label>Password : </ion-label>
        <ion-textarea formControlName="password"></ion-textarea>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
        Votre mot de passe est requis.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
        Votre mot de passe doit contenir au moins 6 caratères.
      </span>
      <button routerLink="../home" type="submit" mdc-button raised style="width:100%" [disabled]="!form.valid">Se connecter</button>
    </form>
    <br>
    <p>Pas encore inscrit ? <br> <a rel="noopener noreferrer" routerLink="../inscription">Créer un compte</a></p>
  </div>
</ion-content>
